@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root {
  --secondary-gray-800: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* navbar */
.navbar-brand {
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-link {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-button a.btn {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
  background-color: var(--secondary-gray-800);
}

ul li {
  list-style: none;
}

ul.border-bottom {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* footer */
  ul.border-bottom {
    width: 80%;
    margin: 0 auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
