/* my font */

:root {
  --primary-yellow: #ffc727;
  --secondary-gray-800: #1f2937;
  --secondary-slate-600: #475569;
  --secondary-slate-50: #f8fafc;
}

/* body */
body {
  font-family: 'Roboto', sans-serif;
}

/* navbar */
.navbar-brand {
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-link {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-button a.btn {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/*  diskusi */

.title h1 {
  color: var(--secondary-gray-800);
}

.conten-diskusi {
  background-color: var(--secondary-slate-50);
}

.form {
  width: 100%;
}

.submit button,
textarea,
input {
  width: 100%;
}

label {
  text-align: center;
  padding: 3px;
  width: 40%;
  color: var(--secondary-slate-50);
  background-color: var(--primary-yellow);
  /* border: 1px solid black; */
}
form {
  width: 100%;
}
.tentang-forum {
  padding: 2rem;
  width: 100%;
}

/* footer */
footer {
  background-color: var(--secondary-gray-800);
}

ul li {
  list-style: none;
}

ul.border-bottom {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* footer */
  ul.border-bottom {
    width: 80%;
    margin: 0 auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  form {
    width: 70%;
  }
  .form {
    width: 100%;
  }
  .submit button {
    width: 40%;
  }
  .tentang-forum {
    width: 30%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
